body{
    background: white;
}

.app{
    border-radius: 10px;
}

h1{
    text-align: center;
}

.app{
    width: 900px;
    margin: 100px auto;
    border: solid 2px blue;
}

.Search-bar-div{
    margin:10px;
    text-align: right;
}

.Search-bar{
    border-radius: 30px;
    padding-left: 15px;
    width: 280px;
}

.first-row{
    margin: 5px 20px;
    padding: 10px 0px;
    font-size: 1.5em;
    font-weight:bold;
    border-bottom: 3px solid rgba(0,0,0,0.3);
}

.other-row{
    margin: 5px 20px;
    padding: 10px 0px;
    font-size: 1em;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

.Create-bar{
    margin-top: 2.5em;
    margin-left: 20px;
    width: 600px;
}

input[type=text] {
    transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
  }
input[type=text]:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 0.7);
    /* padding: 3px 0px 3px 3px; */
    /* margin: 5px 1px 3px 0px; */
  }
